<div id="characters">
  <% @characters.each do |c| %>
  <div class="character"
       style="background-image:
                url('<%= image_path c %>');
              <%= 'display:none;' if c !=  @characters.first %>
              "
       <%= 'id=character' if c ==  @characters.first %>
  ></div>
  <% end %>
</div>
<div id="UI">
  <div id="questionMark" data-tooltip="<%= @tool_tip %>">?</div>
  <div id="poster">
    <input id="content" type="text"/>
    <button id="characterButton" class="button">(._.)</button>
    <select id="tag">
      <option value="sentence">Sentence</option>
      <option value="noise">Noise</option>
    </select>
    <button class="button" onclick="poster.postSentence()">Send</button>
    <div id="characterSelector">
      <select id="character">
        <% @characters.each do |c| %>
        <option data-img-src="<%= image_path c %>"
                value="<%= c.match(/\d+/).to_s.to_i %>"></option>
        <% end %>
      </select>
    </div>
  </div>
  <div id="logger"><div id="lines"></div></div>
</div>
<div id="cursor"></div>


<script type="text/template" id="sentenceTemplate">
  <div class="sentence"></div>
</script>

<script type="text/template" id="noiseTemplate">
  <div class="sentence noise"></div>
</script>

<script type="text/template" id="weakPointTemplate">
  <span class="weakPoint" data-word=""></span>
</script>
